<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
  <h1>URL Shortener</h1>
    <p>
      Create an easily shareable link by entering the following in your address bar "bby.glitch.me/new/YOUR_LINK" where YOUR_LINK is a link you wish to shorten.
    </p>
    <h2>
      Example
    </h2>
    <h4>
      Original Link: www.wikipedia.org
    </h4>
    <h4>
      Usage: bby.glitch.me/new/www.wikipedia.org
    </h4>
    <h4>
      New Link: bby.glitch.me/0G
    </h4>
  </body>
</html>
